@import '~bootstrap/scss/bootstrap';
@import './font-awesome/font-awesome';

body {
  color: $light;
  background-color: $dark;

  #clear-cache-btn {
    position: fixed;
    top: 5px;
    left: 5px;
  }

  #status-indicator {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    padding: 0.5em;
    line-height: 2em;
    font: bold 1em sans-serif;
    color: $light;

    .online {
      color: $success;
    }

    .offline {
      color: $danger;
    }

    .fa-signal {
      &.offline {
        &:after {
          position: absolute;
          content: '\\';
          color: $danger;
          font-weight: 700;
          font-size: 1.7em;
          right: 10px;
          top: 3px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }

  #sw-demo-carousel {
    height: 80%;

    .carousel-caption {
      h5 {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
      }
    }
  }
}
